<%= form_with(model: tarjetum) do |form| %>
  <% if tarjetum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tarjetum.errors.count, "error") %> prohibited this tarjetum from being saved:</h2>

      <ul>
        <% tarjetum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :no_tarjeta, style: "display: block" %>
    <%= form.text_field :no_tarjeta %>
  </div>

  <div>
    <%= form.label :fecha_emision, style: "display: block" %>
    <%= form.date_field :fecha_emision %>
  </div>

  <div>
    <%= form.label :ano_vigente, style: "display: block" %>
    <%= form.number_field :ano_vigente %>
  </div>

  <div>
    <%= form.label :mes_vigente, style: "display: block" %>
    <%= form.number_field :mes_vigente %>
  </div>

  <div>
    <%= form.label :cuentum_id, style: "display: block" %>
    <%= form.text_field :cuentum_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
