<div id="<%= dom_id tarjetum %>">
  <p>
    <strong>No tarjeta:</strong>
    <%= tarjetum.no_tarjeta %>
  </p>

  <p>
    <strong>Fecha emision:</strong>
    <%= tarjetum.fecha_emision %>
  </p>

  <p>
    <strong>Ano vigente:</strong>
    <%= tarjetum.ano_vigente %>
  </p>

  <p>
    <strong>Mes vigente:</strong>
    <%= tarjetum.mes_vigente %>
  </p>

  <p>
    <strong>Cuentum:</strong>
    <%= tarjetum.cuentum_id %>
  </p>

</div>
